---

export type ImageProps = {
  width?: string;
  height?: string;
  link?: string;
  altText?: string;
  src: string;
  className?: string;
}

const { 
  width,
  height,  
  link, 
  altText = "Logo",
  src,
  className
} = Astro.props as ImageProps;

---

{link ? (
  <a href={link} target="_blank" class={className}>
    <img 
      src={src} 
      width={width}
      height={height}
      alt={altText} 
      class={className}
    />
  </a>
) : (
  <img 
    src={src}
    width={width}
    height={height}
    alt={altText}  
    class={className}
  />
)}
